@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Space+Grotesk&display=swap');

body {
    background-color: #EEEEEA;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    margin-top: 3%;
}

header p {
    margin: 0;
}

header a {
    margin-left: 50px;
}

footer, header {
    margin-right: 10%;
    margin-left: 10%;
}

header img {
    width: 100%;
}

header button, main button {
    background-color: black;
    color: white;
    border: none;
    padding: 15px 32px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

header button:hover, main button:hover {
    outline: none;
    background-color: white;
    color: black;
    border-radius: 15px;
    text-align: center;
    -moz-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.header-flex {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}

/*Кнопка*/
.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 50px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ADFF33;
    transition: .4s;
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
}

.slider:hover {
    box-shadow: #ADFF33 0 3px 8px;
}


.slider:before {
    position: absolute;
    content: "";
    height: 37px;
    right: 59px;
    width: 35px;
    bottom: 6px;
    background-color: white;
    transition: .4s;
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
}

input:checked + .slider {
    background-color: #333333;
}

input:focus + .slider {
    box-shadow: 0 0 1px #333333;
}

input:checked + .slider:before {
    transform: translateX(52px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*----*/
main {
    margin-top: 10%;
}

.main-flex {
    display: flex;
    justify-content: center;
}

.main-flex > div {
    margin-bottom: 5%;
}

.hero-text {
    font-family: Arial, 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 43px;
    line-height: 45px;
    text-align: center;
    color: #000000;
    margin-bottom: 3%;
}

.under-hero-text {
    margin-right: 2%;
    font-family: Arial, 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.communication {
    width: 100%;
    height: 100%;
}

.medium {
    text-align: center;
}

.medium-communication {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
}

.margin-top {
    margin-top: 10%;
}

.margin-p {
    margin-top: 4%;
}

.under-description {
    font-family: Arial, 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.under-flex {
    gap: 5%;
    display: flex;
    justify-content: center;
}

.screen-timso {
    width: 40%;
    height: 40%;
}

.timso-screen {
    width: 100%;
    height: 100%;
}

.screen-timso:hover {
    animation-duration: 1s;
    animation-name: sizing;
    -moz-animation-name: sizing;
    -moz-animation-duration: 1s;
    -o-animation-name: sizing;
    -o-animation-duration: 1s;
    -webkit-animation-name: sizing;
    -webkit-animation-duration: 1s;
}

.first-logo {
    width: 100%;
    height: 100%;
}

.logo-size-one {
    width: 30%;
    height: 30%;
}

.logo-size-two {
    width: 40%;
    height: 40%;
}

.logo-flex {
    display: flex;
    gap: 5%;
}

.uncenter {
    text-align: left;
}

.description {
    font-family: Arial, 'Space Grotesk', sans-serif;
    font-size: 12px;
    line-height: 27px;
    color: #000000;

}

.screen-swap {
    width: 40%;
    height: 40%;
}

.screen-swap:hover {
    animation-duration: 1s;
    animation-name: sizing;
    -moz-animation-name: sizing;
    -moz-animation-duration: 1s;
    -o-animation-name: sizing;
    -o-animation-duration: 1s;
    -webkit-animation-name: sizing;
    -webkit-animation-duration: 1s;
}

@keyframes sizing {
    0% {
        width: 40%;
        height: 40%;
    }
    50% {
        width: 42%;
        height: 42%;
    }
    100% {
        width: 40%;
        height: 40%;
    }
}

.swap-screen {
    width: 100%;
    height: 100%;
}

.medium-margin {
    margin-right: 10%;
    margin-left: 10%;
}

.flex-logos > div:hover {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    transition: box-shadow 0.2s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
    -webkit-transition: box-shadow 0.2s ease-in-out;
}

.flex-logos > div {
    width: 15%;
    height: 15%;
}

.flex-logos {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-logo {
    width: 100%;
    height: 100%;
}

.screens-flex {
    gap: 5%;
    display: flex;
    justify-content: center;
}

.screens {
    height: 400px;
    width: 500px;
}

.screen {
    width: 65%;
    height: 65%;
    position: relative;
}

.size {
    width: 100%;
    height: 100%;
}

.office-workload {
    top: -185%;
    right: 23%;
    z-index: 4;
}

.works-remote {
    top: -124%;
    right: -45%;
    z-index: 3;
}

.statuse-screen:hover, .works-remote:hover, .bacground-screen:hover {
    animation-duration: 1s;
    animation-name: visibility;
    -moz-animation-name: visibility;
    -moz-animation-duration: 1s;
    -o-animation-name: visibility;
    -o-animation-duration: 1s;
    -webkit-animation-name: visibility;
    -webkit-animation-duration: 1s;
    z-index: 5;
    -moz-transition: z-index 0.5s ease-in-out;
    -o-transition: z-index 0.5s ease-in-out;
    -webkit-transition: z-index 0.5s ease-in-out;
    transition: z-index 0.5s ease-in-out;
}

@keyframes visibility {
    0% {
        opacity: 1;
    }
    5% {
        opacity: 0.5;
    }
    30% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    80% {
        opacity: 1;
    }
}

.statuse-screen {
    top: -40.5%;
    right: -16%;
    z-index: 2;
}

.bacground-screen {
    right: -30%;
    top: 20.5%;
    z-index: 1;
}

.mocup-ico {
    width: 30%;
    height: 30%;
}

.mocup-ico img {
    width: 100%;
    height: 100%;
}

.flex-white-block {
    display: flex;
    gap: 2%;
    justify-content: center;
}

.white-block {
    padding: 5%;
    background: #FFFFFF;
    border-radius: 50px;
}

.list {
    font-family: Arial, 'Space Grotesk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.button-green {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    background: #B1FA16;
    border-radius: 20px;
    height: 73px;
    width: 100%;
    box-shadow: #ADFF33 0 3px 8px;
}

.input-email:focus {
    outline: none;
    border: solid #ADFF33 1px;
    box-shadow: #ADFF33 0 3px 8px;
}

.button-green:hover {
    border-color: transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation-name: green;
    animation-duration: 0.5s;
    -moz-animation-name: green;
    -moz-animation-duration: 0.5s;
    -o-animation-name: green;
    -o-animation-duration: 0.5s;
    -webkit-animation-name: green;
    -webkit-animation-duration: 0.5s;
}

@keyframes green {
    0% {
        box-shadow: #ADFF33 0 3px 8px;
    }
    100% {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
}


.flex-label {
    gap: 8%;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    display: flex;
}

.email-put {
    height: 100%;
    width: 30%;
}

.input-email {
    border-radius: 20px;
    height: 52px;
    padding: 10px 0 10px 30px;
    border: transparent 0 solid;
    width: 100%;
}

.input-email::placeholder {
    outline: none;
    font-family: Arial, 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.footer-flex {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

.active:hover {
    color: #7B7B7B;
    text-decoration: underline;
}

.active {
    color: #000;
    font-family: Arial, 'Space Grotesk', sans-serif;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.active:hover {
    text-decoration: none;
    color: #7B7B7B;
    border-bottom-color: #7B7B7B;
}

.unactive {
    font-family: Arial, 'Space Grotesk', sans-serif;
    font-size: 18px;
    line-height: 29px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #7B7B7B;
}

.unactive:hover {
    border-bottom-color: black;
}

.main-p {
    font-family: Arial, 'Space Grotesk', sans-serif;
    font-size: 15px;
    line-height: 21px;
    color: #7B7B7B;
    margin-bottom: 0;
}

footer {
    padding-top: 5%;
    padding-bottom: 3%;
}

.footer-p {
    font-family: Arial, 'Space Grotesk', sans-serif;
    font-size: 18px;
    color: #7B7B7B;
    margin-bottom: 0;
}

.footer-flex img {
    float: right;
    width: 60%;
}

.medium-mobile {
    display: none;
}

.medium-tablet {
    display: none;
}

.medium-mobile-little {
    display: none;
}

.goog-text-highlight {
    background-color: inherit;
    box-shadow: none;
    box-sizing: inherit;
}

/* language */

.language {
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    display: flex;
    flex-direction: column;
}

.language__img {
    margin: 2px;
    cursor: pointer;
    opacity: .5;
}

.language__img:hover,
.language__img_active {
    opacity: 1;
}

/*Modal*/
.modal {
}

.modal.open .modal-overlay, .modal.open .modal-window {
    opacity: 1;
    z-index: 1000;
}
.modal.hide .modal-overlay, .modal.hide .modal-window {
    opacity: 1;
    z-index: 1000;
}

.modal.open .modal-window {
    transform: translateY(100px);
}

.modal.open .modal-overlay {
    background: rgba(0, 0, 0, .5);
}
.modal.hide .modal-window {
    transform: translateY(-200px);
}

.modal.hide .modal-overlay {
    background: rgba(0, 0, 0, 0);
}

.modal-window, .modal-overlay {
    opacity: 0;
    z-index: -1;
}

.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    transition: background .2s ease-in;
}

.modal-window {
    width: 600px;
    border-radius: 30px;
    background: white;
    margin: 0 auto;
    transform: translateY(-200px);
    transition: transform .2s ease-in;
}

.modal-header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EEEEEA;
}

.modal-title {
    font-family: Arial, 'Space Grotesk', sans-serif;
    color: black;
    font-size: 20px;
    display: flex;
    align-items: flex-end;
}

.modal-close {
    cursor: pointer;
    font-size: 32px;
}

.modal-body {
    font-family: Arial, 'Space Grotesk', sans-serif;
    color: black;
    font-size: 16px;
    padding: 10px;
}

.modal-footer {
    padding: 20px 40px;
    border-top: 1px solid #EEEEEA;
}

.button-reg {
    gap: 10%;
    display: flex;
    justify-content: center;
}

.button-reg button:hover {
    color: #EEEEEA;
    border-color: transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation-name: green;
    animation-duration: 0.5s;
    -moz-animation-name: green;
    -moz-animation-duration: 0.5s;
    -o-animation-name: green;
    -o-animation-duration: 0.5s;
    -webkit-animation-name: green;
    -webkit-animation-duration: 0.5s;
}

.button-reg button {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #1e1e1e;
    border: none;
    padding: 10px 22px;
    text-decoration: none;
    background: #B1FA16;
    border-radius: 20px;
    box-shadow: #ADFF33 0 3px 8px;
}

.modal-body p {
    width: 45%;
    height: 45%;
    margin-right: auto;
    margin-left: auto;
}

.modal-body input {
    background: transparent;
    border: none;
}

.modal-body input::placeholder {
    color: black;
}

.input-data {
    padding: 1%;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    background: #f5f3f3;
    width: 40%;
    height: 40%;
}
.reg-email,.reg-password{
    width: 100%;
}
.reg-email:focus,.reg-password:focus {
    color: black;
    outline: none;
}

@media only screen and (max-width: 996px) {
    .screen {
        width: 55%;
        height: 55%;
    }

    .office-workload {
        top: -155%;
        right: 0;
    }

    .works-remote {
        top: -94%;
        right: -45%;
    }

    .statuse-screen {
        top: -20.5%;
        right: -16%;
    }

    .bacground-screen {
        right: -30%;
        top: 30%;
    }
}

@media only screen and (max-width: 861px) {
    .modal-window {
        width: 400px;
    }
    @keyframes sizing {
        0% {
            width: 40%;
            height: 40%;
        }
        50% {
            width: 41%;
            height: 41%;
        }
        100% {
            width: 40%;
            height: 40%;
        }
    }
    main > div {
        padding-left: 3%;
        padding-right: 3%;
    }

    .description {
        font-size: 10px;
        line-height: 25px;
    }

    .main-p {
        font-size: 12px;
        line-height: 18px;
    }

    .hero-text {

        font-size: 36px;
        line-height: 38px;
        margin-bottom: 3%;
    }

    .medium-communication {
        display: none;
    }

    .medium-tablet {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 90%;
        display: block;
    }

    .white-block {
        padding: 5% 5% 10% 5%;
        background: #FFFFFF;
        border-radius: 50px;
        margin-bottom: 5%;
    }

    .white-block p {
        margin-top: 10px;
    }

    .flex-logos > div {
        width: 25%;
        height: 25%;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 80px;
        height: 32px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 27px;
        right: 49px;
        bottom: 3px;
        width: 27px;
    }

    .under-hero-text {
        margin-top: 5px;
    }

    .list {
        font-size: 14px;
        line-height: 23px;
    }

    input:checked + .slider:before {
        transform: translateX(44px);
    }

    .slider.round {
        border-radius: 34px;
    }

}

@media only screen and (max-width: 716px) {
    .reg-password::placeholder,.reg-email::placeholder{
        font-size: 10px;
    }
    .modal-header {
        padding: 10px 25px;
    }
    .modal-title {
        font-size: 16px;
    }
    .modal-body > p {
        font-size: 12px;
    }
    @keyframes sizing {
        0% {
            width: 40%;
            height: 40%;
        }
        50% {
            width: 41%;
            height: 41%;
        }
        100% {
            width: 40%;
            height: 40%;
        }
    }
    header a {
        margin-left: 20px;
    }

    header button, main button {
        padding: 10px 20px;
        border-radius: 15px;
    }

    .flex-label {
        justify-content: center;
        display: flex;
    }

    .footer-p {
        font-size: 12px;
    }

    .unactive {
        font-size: 14px;
    }

    .active {
        font-size: 14px;
    }
}

@media only screen and (max-width: 584px) {
    @keyframes sizing {
        0% {
            width: 70%;
            height: 70%;
        }
        50% {
            width: 71%;
            height: 71%;
        }
        100% {
            width: 70%;
            height: 70%;
        }
    }
    .input-email::placeholder {
        font-size: 12px;
    }

    .input-email {
        height: 32px;
    }

    .flex-label {
        align-items: center;
    }

    .button-green {
        padding: 10px 32px;
        border-radius: 20px;
        height: 48px;
    }

    .under-description {
        font-size: 14px;
        line-height: 18px;
    }

    .description {
        font-size: 10px;
        line-height: 15px;
    }

    .under-flex {
        display: block;
    }

    .under-flex > div {
        width: 70%;
        height: 70%;
        margin-right: auto;
        margin-left: auto;
    }

    header button, main button {
        font-size: 10px;
        padding: 5px 15px;
        border-radius: 15px;
    }

    .hero-text {
        font-size: 24px;
        line-height: 28px;
    }

    .list {
        line-height: 20px;
    }

    .medium-tablet {
        display: none;
    }

    .medium-mobile {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: 50%;
        display: block;
    }

    .screen-timso, .screen-swap {
        width: 60%;
        height: 60%;
    }

    .screen-swap {
        margin-top: 10%;
    }

    .margin-top {
        margin-top: 10%;
    }

    .screens-flex {
        display: block;
    }

    .mobile-center {
        width: 70%;
        height: 70%;
        margin-right: auto;
        margin-left: auto;
    }

    .screen {
        width: auto;
    }

    .screens {
        height: 200px;
        width: 300px;
    }
}

@media only screen and (max-width: 520px) {
    header a {
        margin-right: 5px;
        margin-left: 5px;
    }

    .active {
        font-size: 10px;
    }
}

@media only screen and (max-width: 427px) {
    .modal-window {
        width: 300px;
    }
    .flex-label {
        gap: 20%;
        align-items: center;
    }

    .screens-flex {
        width: 90%;
    }

    .screens {
        height: 300px;
        width: 200px;
    }

    body {
        margin-left: auto;
        margin-right: auto;
    }

    .medium-mobile {
        display: none;
    }

    .white-block {
        padding: 5% 5% 1% 5%;
    }

    .flex-white-block {
        display: block;
    }

    .hero-text {
        font-size: 24px;
        line-height: 28px;
    }

    .medium-mobile-little {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        display: block;
    }
}

@media only screen and (max-width: 340px) {
    .list {
        font-size: 12px;
        line-height: 21px;
    }

    .under-description {
        font-size: 12px;
        line-height: 16px;
    }

    .hero-text {
        font-size: 18px;
        line-height: 22px;
    }

    .description {
        font-size: 9px;
        line-height: 14px;
    }
}